body{
  background-color: #f5f6f8;
}

.container{
  margin-top: 1rem;
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60vh;
}
/* Responsive Css */

@media(max-width:760px){
 .container{
   margin-left: 0%;
 } 
}